body {
    font-family: Arial, sans-serif;
}

.seccion2 {
    max-width: 375px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.seccion2 h2 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.seccion2 table {
    width: 100%;
    border-collapse: collapse;
}

.seccion2 table th, .seccion2 table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.seccion2 table th {
    background-color: #f2f2f2;
    font-weight: bold;
}